/* Removes all margins and paddings to prevent bars around navbar */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 100%;
}

/* Everything for the header and navbar */
.navbar_container {
    display: flex;
    background-color: #57425d;
    width: 100vw;
    height: 10vh;
}
#home_a {
    background-color: #ededed;
    padding: 1vh 102.77px 1vh 102.77px;
    border: solid black 1px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
#uitleg_a {
    background-color: #ededed;
    padding: 1vh 44.525px 1vh 44.525px;
    border: solid black 1px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
#favogame_a {
    background-color: #ededed;
    padding: 1vh 42.3px 1vh 42.3px;
    border: solid black 1px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.navbar_list {
    width: 100%;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}
#img_tcrlogo {
    border: solid black 1px;
    display: flex;
    background-color: #ededed;
    /*width: 15vw;*/
    height: 9vh;
    margin-top: 0.4vh;
    margin-left: 1vh;
}
#dropdown_btn {
    background-color: #ededed;
    padding: 1vh 86.225px 1vh 86.225px;
    border: solid black 1px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-top: vh;
}
nav a {
    color: black;
    text-decoration: none;
}


/* Navbar hamburger menu */
.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 5;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    border: black solid 1px;
}
.dropdown_content a {
    padding: 0.8rem 101px 0.8rem 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
   background-color: #D9D9D9;
}
.a_btn {
    display: flex;
}
.dropdown:hover .dropdown_content{
    display: flex;
    flex-direction: column;
}
.a_btn:hover {
    background-color: #815d8b;
    color: white;
    border: black solid 1px;
}



/* Main */
main {
    min-height: 85vh;
}

/* Everything for the footer */
footer {
    width: 100vw;
    height: 5vh;
    background-color: #57425d;
    display: flex;
    align-items: center;
}
#footer_txt {
    font-weight: bold;
    width: 100vw;
    text-align: center;
}

