#PictureSplitDiv
{
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 60vw;
    background-color: black;
    justify-content: space-around;
} 
#TextDiv
{
    width: 30vw;
    background-color: green;
}
h3
{
    margin: 24px;
}

p
{
    margin: 8px;
}
main
{
    background-color: gray;
    width: 100vw;
    /* height: 85vh; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}