body{
    background-color: #2c2c2c;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ededed;
    padding: 10px;
    border: #a3a3a3 dashed 5px;
    border-radius: 15px;
    margin: 20px 20px 20px 5.2vw;
    width: 15vw;
    background-color: #343434;
}
#games{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#sect-2{
    margin-left: 15vw;
}
.afbeelding-game{
    margin-bottom: 5vh;
}
.img-game{
    padding: 30px;
    border: #a3a3a3 dashed 5px;
    border-radius: 15px;
    background-color: #343434;
}